extends ./templates/layout.pug

block content
  form(action='/signup' method='POST')
    div
      label(for='username') 用户名:
      input(type='text' name='username' id='username' placeholder='请输入用户名')
    div
      label(for='password') 密码:
      input(type='text' name='password' id='password' placeholder='请输入密码')
    div
      label(for='password') 重复密码:
      input(type='text' name='repassword' id='password' placeholder='请再次输入密码')
    div
      label(for='email') 邮箱:
      input(type='text' name='email' id='email' placeholder='请输入邮箱')
    div
      input(type='submit' value='注册')
  
  div
    a(href='/signin') 已有账号，去登录
